*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
    transition: 0.5;

}

body{
    overflow-x: hidden;
    background: #fff;
    min-height: 100vh;
}

#header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    background: #c2b2803b;
}

#footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    background: #c2b2803b;
}

#footer p{
    color :#c2b280;
    text-shadow: 0 0 10px black;
    font-size: 1em;;
}

#header a.logo{
    padding: 6px 15px;
    color :#c2b280;
    font-weight: 700;
    font-size: 1em;
    text-decoration: none;
    border-radius: 20px;
}

#header a.logo:hover
{
    color: #fff; 
    text-shadow: 0 0 10px #c2b280,
    0 0 20px #c2b280,
    0 0 40px #c2b280,
    0 0 80px #c2b280,
    0 0 160px #c2b280;
}

#header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

section .container .box-right ul {
    margin-left: 3%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

#header ul li{
    margin-left: 20px;
    z-index: 10;
}

section .container .box-right ul li {
    font-size: 0.5em;
    margin-bottom: 7%;
}


#header ul li a,
section .container .box-right ul li a
{
    padding: 6px 15px;
    color :#c2b280;
    border-radius: 20px;
    font-size: 1em;
}

section .container .box-right ul li a{
    font-size: 1em;
}



#header ul li a:hover,
section .container .box-right a:hover,
#header ul li a.active
{

    color: #fff;
    text-shadow: 0 0 10px #c2b280,
    0 0 20px #c2b280,
    0 0 40px #c2b280,
    0 0 80px #c2b280,
    0 0 160px #c2b280,
    0 0 320px #c2b280;
}


.cover {
    position: relative;
    width: 100%;
    min-height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cover #motto {
    position: absolute;
    color: #c2b280;
    font-size: 10vw;
    text-align: center;
    line-height: 0.55em;
    font-family: 'Rancho', cursive;
    transform: translate(-68%,-60%);
    z-index: 10;
    line-height: 0.6em;
    animation: animate 5s linear infinite;
    outline: none;
}

@keyframes animate
{
    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%
    {
        color:#c2b280;
        text-shadow: none;
    }
    18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%
    {
        color: #fff;
        text-shadow: 0 0 10px #c2b280,
        0 0 20px #c2b280,
        0 0 40px #c2b280,
        0 0 80px #c2b280,
        0 0 160px #c2b280;
    }
}

.cover #motto span{
    font-size: 0.20em;
    color: #c2b280;
    letter-spacing: 2px;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;

}

.cover img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit:  cover;
    pointer-events: none;
}

section {
    background: black;
    /* background: whitesmoke; */
    /* background-image: url(../static/assets/background-wood.jpg); */
    position: relative;
    padding: 5% 10%;
    height: 100vh;
    font-size: 3.5em;
    color: #f7f2e5;
}

section h5 {
                color: #fff;
                /* color: black; */
                text-shadow: 0 0 10px #c2b280;
                padding: 0 0 15px 0;
        }

section p {
    font-size: 0.5em;
    margin-bottom: 5%;
}


section .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70%;
}

section .container .box-left,
section .container .box-right {

    width: 50%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3%;
    border-radius: 20px;
    border: 1px solid #c2b280;
    box-shadow: 0 0 10px #c2b280,
    0 0 20px #c2b280;
    background-color: none;
}

/* section .container .box-left,
section .container .box-right {

    width: 50%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 3%;
    border-radius: 20px;
    border: 1px solid #c2b280;
    box-shadow: 0 0 10px #c2b280,
    0 0 20px #c2b280;
    background-color: none;
} */

section .container .box-right:hover,
section .container .box-left:hover{
    box-shadow: 0 0 10px #c2b280,
    0 0 20px #c2b280,
    0 0 40px #c2b280;

}


/* section .container .box-right:hover,
section .container .box-left:hover{
    box-shadow: 0 0 10px black,
    0 0 20px black,
    0 0 40px black;
    border: 1px solid black;
    backdrop-filter: blur(6px);

} */


section .container .box-left img {
    position: absolute;
    top: 50;
    left: 50;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    border-radius: 20px;
}

section .container .box-right:hover,
section .container .box-left:hover {
    transform: scale(1.05);
}
