<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hi, I'm Jonasz</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300;1,500;1,700&family=Rancho&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="..\..\static\modern-normmalize.css">
    <link rel="stylesheet" type="text/css" href="..\..\static\main.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/58866e6d19.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="..\..\static\owl.carousel.min.css">
    <link rel="stylesheet" href="..\..\static\owl.theme.default.min.css">    
    
    
</head>
<body>

        <header id="header" data-aos="fade-down" data-aos-delay="300">

            <ul>
                <li><a href="#" class="logo"><i class="fas fa-home"></i></a></li>
                <li><a href="#introduction" >About me</a></li>
                <li><a href="#resume" class="active">Resume</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Contact</a></li>
            </ul>

        </header>
    
        <div class="cover">
            <h1 id="motto" data-aos="zoom-in" data-aos-delay="500" data-aos-duration="2000" data-aos-easing="ease-in-out"
            data-aos-mirror="true"><span>I'm Jonasz. Let's design</span><br>together</h1>
            <img src="..\..\static\assets\background-right.jpg" id="background">
    
        </div>
    
            <section id="introduction">
    
                <h5 data-aos="fade-down" data-aos-delay="100" data-aos-duration="1000">It's good you dropped by!</h5>
                <p data-aos="fade-right" data-aos-delay="100" data-aos-duration="1000">I'm Jonasz, electrical engineer by education,  programmer by passion.<br>Make yourself comfortable on my personal website.</p>

                <div class="container">
                    <div class="box-left" data-aos="fade-right" data-aos-delay="400" data-aos-duration="1000" >

                        <img src="..\..\static\assets\portrait-quad.jpg" id="portrait">
                        <!-- data-tilt data-tilt-max="5" data-tilt-glare data-tilt-max-glare="0.4" -->

                    </div>
                    <div class="box-right" data-aos="fade-left" data-aos-delay="400" data-aos-duration="1000">
                            <ul>
                                <li>Please take a quick look at my<a href="#">resume.</a></li>
                                <li>I listed out for you the most intresting<a href="#">projects</a>I took part in<br>
                                and the<a href="#">clients</a>I have worked with.</li>
                                <li>In any case we can catch up through<a href="#">contact</a>tab.</li>
                            </ul>
                    </div>

                </div>

            </section>

            <section id="resume">
                <h5>A little bit of my professional experiance</h5>
                <div class="container">
                    <div class="owl-carousel">
                        <div class="box-job">
                            <small>2013-2016</small>
                            <h6>Overhead Powerlines Designer Assistant</h6>
                            <h6>Eltel Networks S.A.</h6>
                            <img src="../../static/assets/eltel.png">
                            <ul>
                                <li>Designing overhead power lines under the watchful eye of the most experienced OHL engineers in Poland. </li>
                                <li>Plenty of 2D&3D drawings in Autocad, learning PLS-CADD software suite, mastering pivots to create bill of material. </li>
                                <li>Results? Two 400kV lines in Poland - please check <a href="#">Ełk-Granica</a> and <a href="#">Gdańsk-Żydowo</a> projects.</li>
                            </ul>
                        </div>
                        <div class="box-job">
                            <small>2016-2020</small>
                            <h6>Overhead Powerlines Designer</h6>
                            <h6>Eltel Networks S.A.</h6>
                            <img src="../../static/assets/eltel.png">
                            <ul>
                                <li>Getting the Professional License of electrical designing (the most challanging exam ever!) and being promoted to the designer position </li>
                                <li>Starting working on international projects in UK (<a href="#">Cartenbury-Richborough</a>) and Angola (<a href="#">Lauca-Bita</a>)</li>
                                <li>Managing small designer team, putting toghether civil, construction, surveyor and subcontractors</li> 
                                <li>site visiting, coopering directly with the clients</li>
                                <li>Focusing on design optimalization, writing simple, but useful VBA scripts, working on XML and KML related R&D project</li>
                                <li>And after hours... starting the IT Codebrainers bootcamp. Living and breathing programming.</li>
                                
                            </ul>
                        </div>
                        <div class="box-job">
                            <small>2020-2021</small>
                            <h6>Overhead Powerlines Design Assistant</h6>
                            <h6>Eltel Networks S.A.</h6>
                            <img src="../../static/assets/enprom.png">
                            <ul>
                                <ul>
                                    <li>Creating a new design office from scratch. Showing the ropes to newcomers. </li>
                                    <li>Leading the role of cooperator between design department and the new technologies depratment in the dynamically growing structure.</li>
                                    <li>Taking active part in the ENsys and AR/AR R&D projects</li> 
                                    <li>Organizing and leading the internal training of PLS-CADD software suite</li> 
                                </ul>
                            </ul>
                        </div>


                    </div>

            </section>



            <!-- <section id="blog">
    
                <h5>Please check my blog</h5>
    
                <p>I'm the the Overhead Powerlines Design Engineer. <br>I'm crazy about IT and new technologies. <br>Welcome on personal website.</p>
                <div>
                    {% block blog %}
                    {% endblock %}
                </div>

            </section>

            <section id="resume">
    
                <h5>A bit of my professional experiance</h5>
    
                <p>I'm the the Overhead Powerlines Design Engineer. <br>I'm crazy about IT and new technologies. <br>Welcome on personal website.</p>
                <div>
                    {% block resume %}
                    {% endblock %}
                </div>
            </section> -->

    <footer id="footer">
        <p>© -Jonasz Jałocha 2021- All rights reserved </p>
    </footer>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
      </script>

    <script type="text/javascript" src="..\..\static\assets\vanilla-tilt.js"></script>
    <script src="..\..\static\assets\js\jquery.js"></script>
    <script src="..\..\static\assets\js\owl.carousel.min.js"></script>
    <script src="..\..\static\assets\js\app.js"></script>
</body>
</html>