<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hi, I'm Jonasz</title>
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,700;1,300;1,500;1,700&family=Rancho&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="..\..\static\modern-normmalize.css">
    <link rel="stylesheet" type="text/css" href="..\..\static\main.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/58866e6d19.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="..\..\static\owl.carousel.min.css">
    <link rel="stylesheet" href="..\..\static\owl.theme.default.min.css">   
    <!-- <script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />  -->
    
</head>
<body>

        <header id="header" data-aos="fade-down" data-aos-delay="300">

            <ul>
                <li><a href="#" class="logo"><i class="fas fa-home"></i></a></li>
                <li><a href="#introduction" >About me</a></li>
                <li><a href="#resume">Resume</a></li>
                <li><a href="#clients">Clients</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>

        </header>
    
        <div class="cover">
            <h1 id="motto" data-aos="zoom-in" data-aos-delay="500" data-aos-duration="2000" data-aos-easing="ease-in-out"
            data-aos-mirror="true"><span>I'm Jonasz. Let's design</span><br>together</h1>
            <img src="..\..\static\assets\background-right.jpg" id="background">
    
        </div>
    
            <section id="introduction">
    
                <h5 data-aos="fade-down" data-aos-delay="100" data-aos-duration="1000">It's good you dropped by!</h5>
                <p data-aos="fade-right" data-aos-delay="100" data-aos-duration="1000">I'm Jonasz, electrical engineer by education,  programmer by passion.<br>Make yourself comfortable on my personal website.</p>

                <div class="container">
                    <div class="box-left" data-aos="fade-right" data-aos-delay="400" data-aos-duration="1000" >

                        <img src="..\..\static\assets\portrait-quad.jpg" id="portrait">
                        <!-- data-tilt data-tilt-max="5" data-tilt-glare data-tilt-max-glare="0.4" -->

                    </div>
                    <div class="box-right" data-aos="fade-left" data-aos-delay="400" data-aos-duration="1000">
                            <ul>
                                <li>Please take a quick look at my<a href="#">resume.</a></li>
                                <li>I listed out for you the most intresting<a href="#">projects</a>I took part in<br>
                                and the<a href="#">clients</a>I have worked with.</li>
                                <li>In any case we can catch up through<a href="#">contact</a>tab.</li>
                            </ul>
                    </div>

                </div>

            </section>

            <section id="resume">
                <h5>A little bit of my professional experiance</h5>
                <div class="container">
                    <div class="owl-carousel">
                        <div class="box-job">
                            <small id="job-tenure">2013-2016</small>
                            <h6 id="job-title">Overhead Powerlines Designer Assistant</h6>
                            <div class="company-container">
                                <img src="../../static/assets/eltel.png">
                                <h6 id="job-company">Eltel Networks S.A.</h6>
                            </div>

                            <ul>
                                <li>Designing overhead power lines under the watchful eye of the most experienced OHL engineers in Poland. </li>
                                <li>Plenty of 2D&3D drawings in Autocad, learning PLS-CADD software suite, mastering MS excel. </li>
                                <li>Results? Two significantly important 400kV lines in Poland - please check<a href="#">Ełk-Granica</a>and<a href="#">Gdańsk-Żydowo</a>projects.</li>
                            </ul>
                        </div>
                        <div class="box-job">
                            <small id="job-tenure">2016-2020</small>
                            <h6 id="job-title">Overhead Powerlines Designer</h6>
                            <div class="company-container">
                                <img src="../../static/assets/eltel.png">
                                <h6 id="job-company">Eltel Networks S.A.</h6>
                            </div>

                            <ul>
                                <li>Getting the Professional License of electrical designing and being promoted to the Designer Position.</li>
                                <li>Starting working on international projects in UK<a href="#">(400 kV Cartenbury-Richborough OHL)</a>and Angola<a href="#">(400kV Lauca-Bita/220kV Lauca Ecologica OHL).</a></li>
                                <li>Managing small design team, putting together different branches such as civil, construction, surveyor and subcontractors.</li> 
                                <li>Site visiting, coopering directly with the clients across the globe.</li>
                                <li>Focusing on design optimalization, writing simple, but useful VBA scripts, working on XML and KML related R&D project.</li>
                                <li>And after hours... starting the IT Codebrainers Bootcamp. Living and breathing programming!</li>
                                
                            </ul>
                        </div>
                        <div class="box-job">
                            <small id="job-tenure">2020-now</small>
                            <h6 id="job-title">Overhead Powerlines Designer</h6>
                            <div class="company-container">
                                <img src="../../static/assets/enprom.png">
                                <h6 id="job-company">Enprom Sp. z o.o.</h6>
                            </div>

                            <ul>
                                <ul>
                                    <li>Creating a new design office from scratch. Showing the ropes to newcomers. </li>
                                    <li>Leading the role of cooperator between design department and the new technologies depratment.</li>
                                    <li>Taking active part in the ENsys and AR/AR R&D projects.</li> 
                                    <li>Organizing and leading the internal training of PLS-CADD software suite.</li> 
                                </ul>
                            </ul>
                        </div>
                    </div>

            </section>

            <section id="clients">
                <h5>The Clients I had pleasure to work with</h5>
                <div class="container">
                    {% for client in clients %}
                        <div class="box-client" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1200">
                            <!-- <h6 id="client-title">{{ client.ClientName }}</h6> -->
                            <img src="..\..\static\assets\{{client.ClientLogo.url}}">
                        </div>
                    {% endfor %}
                    </div>

            </section>

            <!-- <section id="projects">
                <h5>A handful of information about my most important projects</h5>
                <div class="container">
                    <div class="owl-carousel">
                        <div class="box-project">
                            <small id="project-tenure">2013-2014</small>
                            <h6 id="project-title">400 kV Ełk - Alytus</h6>
                            <div id="project-desc">                            
                                <ul>
                                    <li>Tailor-made lattice tower series according to the newest OHL standard, adjusted to local wind and ice zone.</li>
                                    <li>112km line with almost 200 towers.</li>
                                </ul>
                            </div>
                            <div class="project-image-box">
                                    <img src="../../static/assets/E-G-1.jpg">
                                    <img src="../../static/assets/E-G-2.jpg">
                                    <img src="../../static/assets/E-G-3.jpg">
                            </div>
                        </div>
                        <div class="box-project">
                            <small id="project-tenure">2014-2016</small>
                            <h6 id="project-title">400 kV Gdańsk Przyjaźń - Żydowo Kierzkowo</h6>
                            <div id="project-desc">                            
                                <ul>
                                    <li>Tailor-made lattice tower series according to the newest OHL standard, adjusted to local wind and ice zone.</li>
                                    <li>125km line with more than 200 towers.</li>
                                </ul>
                            </div>
                            <div class="project-image-box">
                                    <img src="../../static/assets/GD-ZD.jpg">
                                    <img src="../../static/assets/GD-ZD-3.jpg">
                                    <img src="../../static/assets/GD-ZD-4.jpg">
                            </div>
                        </div>
                        <div class="box-project">
                            <small id="project-tenure">2016-2018</small>
                            <h6 id="project-title">400 kV Cartenbury-Richborough</h6>
                            <div id="project-desc">                            
                                <ul>
                                    <li>The very first new-built 400 kV in UK since 20 years. The part of Nemo-Link Project.</li>
                                    <li>New standards, new requirements. The best design quality. Have you ever design the wood poles? :) I have...</li>
                                </ul>
                            </div>
                            <div class="project-image-box">
                                    <img src="../../static/assets/C-R-1.jpg">
                                    <img src="../../static/assets/C-R-2.jpg">
                                    <img src="../../static/assets/C-R-3.jpg">
                            </div>
                        </div>
                        <div class="box-project">
                            <small id="project-tenure">2018-2020</small>
                            <h6 id="project-title">400 kV Lauca - Bita & 220 kV Lauca Ecologica</h6>
                            <div id="project-desc">                            
                                <ul>
                                    <li>The 240-km line in Angola. 585 lattice towers, each with its own legs configuration.</li>
                                    <li>Extraordinary design approach and a great, challenging project!</li>
                                </ul>
                            </div>
                            <div class="project-image-box">
                                    <img src="../../static/assets/L-B-1.JPG">
                                    <img src="../../static/assets/L-B-2.JPG">
                                    <img src="../../static/assets/L-B-3.JPG">
                            </div>
                        </div>
                    </div>
            </section> -->

            <!-- <section id="skills">
    
                <h5 data-aos="fade-down" data-aos-delay="100" data-aos-duration="1000">Let me present my IT skills</h5>
                <p data-aos="fade-right" data-aos-delay="100" data-aos-duration="1000">The list is growing everyday!</p>

                <div class="container">


                </div>

            </section> -->

            <div class="cover" id="contact">
                <h1 id="contact-me" data-aos="zoom-in" data-aos-delay="500" data-aos-duration="2000" data-aos-easing="ease-in-out"
                data-aos-mirror="true">Contact me</h1>
                <img src="..\..\static\assets\background-left.jpg" id="background">
                <div class="contact-info">
                    <ul>
                        <li>e-mail:<br><span>jonasz.jalocha@gmail.com</span></li>
                        <li>phone:<br><span>+48 518 397 150</span></li>
                    </ul>
                </div>
        
            </div>


    <footer id="footer">
        <p>© -Jonasz Jałocha 2021- All rights reserved </p>
    </footer>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
      </script>

    <script type="text/javascript" src="..\..\static\assets\vanilla-tilt.js"></script>
    <script src="..\..\static\assets\js\jquery.js"></script>
    <script src="..\..\static\assets\js\owl.carousel.min.js"></script>
    <script src="..\..\static\assets\js\app.js"></script>
    <!-- <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoidGVzbGFoMjIiLCJhIjoiY2t3NWk0bTEyMGdsdTJubGp1cXQ5bWFleSJ9.x58y3sZ4A0e_QFJ8bzGAQA';
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v11'
            });
    </script> -->
</body>
</html>